<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>West Australian Mines</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <script> 
    var Commodity = {{Commodity | tojson}};
    var Price = {{Price | tojson}};
    var Percentage_change = {{Percentage_change | tojson}};
    var Variation = {{Variation | tojson}};
    var Unit = {{Unit | tojson}};
    var Last_Updated = {{Last_Updated | tojson}};
  </script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <h1>PROJECT 3</h1>
  <p>Members: Robbie, Parkavi, Caroline, & Maria</p>
  <div id='map' style='width: 1000px; height: 500px;'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoicmhvY2tsZXk4MiIsImEiOiJjbDljc3RiOGwxNDZ3M3VwaWtwZGVpeWhqIn0.7q4gFRe-NvMajvTMLQbJUA';
    </script>
  <br>
  
  <div>
    <p id="info">lorem ipsum</p>
  </div>


  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="static/logic.js"></script>
  
</body>
</html>
